.container {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
}

.music {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.request_btn {
    margin-top: 20px;
}